<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card">
                <div class="card-header ">Enviar mensaje</div>
                <div class="card-body"><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="card-footer"><button class="btn btn-outline-success"><i class="bi bi-send"></i>
                        Enviar</button></div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th style="text-align:center;">Id</th>
            <th style="text-align:center;">Mensaje</th>
            <th style="text-align:center;">Usuario</th>
            <th style="text-align:center;">Fecha</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugit, et nesciunt illum dolorum quae error quasi, minima laboriosam sint repellendus repudiandae perferendis eos facilis dolores. Explicabo et possimus quisquam.</th>
            <th style="text-align:center;">Henrique 
                <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
            </th>
            <th>30/08/2022</th>
            <th>
                <button class="btn btn-info m-1"><i class="bi bi-pencil-fill"></i></button>
                
                <button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button>
            </th>
        </tr>
        <tr>
            <th>2</th>
            <th>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugit, et nesciunt illum dolorum quae error quasi, minima laboriosam sint repellendus repudiandae perferendis eos facilis dolores. Explicabo et possimus quisquam.</th>
            <th style="text-align:center;">Rodrigo 
                <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
            </th>
            <th>30/08/2022</th>
            <th>
                <button class="btn btn-info m-1"><i class="bi bi-pencil-fill"></i></button>
                
                <button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button>
            </th>
        </tr>
        <tr>
            <th>3</th>
            <th>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem fugit, et nesciunt illum dolorum quae error quasi, minima laboriosam sint repellendus repudiandae perferendis eos facilis dolores. Explicabo et possimus quisquam.</th>
            <th style="text-align:center;">Roberto 
                <img src="https://thiscatdoesnotexist.com" alt="" class="rounded" width="100px" height="100px">
            </th>
            <th>30/08/2022</th>
            <th>
                <button class="btn btn-info m-1"><i class="bi bi-pencil-fill"></i></button>
                
                <button class="btn btn-danger m-1"><i class="bi bi-trash-fill"></i></button>
            </th>
        </tr>
    </tbody>
</table>
    </div>
</div>